# -FrontPage-

Options +FollowSymlinks

<Limit GET POST>
order deny,allow
deny from all
allow from all
require group administrators
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthType Passthrough
AuthName needlepointkneelers.com
AuthUserFile /home/npkneelr/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/npkneelr/public_html/_vti_pvt/service.grp
