/* 3.1.215 */
.art-post.basic:before, .art-post.basic:after 
{
   content: none;
   background-image:none;
}
.page-template-page-template-2-column-php .art-postcontent p:first-child
{
   margin-top:0;
}
.footer-menu  .sbox{
   display:none;
}
.footer-menu ul li {
   display: inline;
}

.footer-menu a, .footer-menu a:link {
   margin-right:5px;
}

img.shadow_img {
   text-decoration: none;
   border: 0 none;
}
/*
Default style for WP-PageNavi plugin

http://wordpress.org/extend/plugins/wp-pagenavi/
*/

.wp-pagenavi {
   clear: both;
}

.wp-pagenavi a, .wp-pagenavi span {
   text-decoration: none;
   border: 1px solid #BFBFBF;
   padding: 3px 5px;
   margin: 2px;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
   border-color: #000;
}

.wp-pagenavi span.current {
   font-weight: bold;
}
/* --------------------------------------------- */
a.south {
   background:transparent url(includes/info.gif) center right no-repeat;
   display:inline-block;
   padding-right:14px;
   margin-right:3px;
}

/*=== All Columns ===*/
#columns {
   margin:0 auto;
   padding:30px 0 0 0;
   width:100%;
}

.index-col1, .index-col2, .index-col3 {
   margin:0;
   padding:0;
   float:left;
   width:33.2%;
}

.index-cols h2.art-postheader {
   margin:0;
   padding:12px 0 4px;
}
.index-cols .underh2 {
   margin:0 0 16px;
   padding:2px 8px;
   font-size:11px;
   font-weight:normal;
   font-style:italic;
   line-height:1em;
   color:#6f6f6f;
   background-color:#e7e7e7;
}

.index_rm {
   padding:4px 16px;
   font-weight:bold;
   color:#2dc4e3;
   text-decoration:none;
   border:1px solid #0e0e0e;
}

hr.hr-home	{
   width:100%;
   border: 1px dotted #ccc;
}

.sheet-top	{
   min-height:1px;
   margin:auto;
   padding:0 0 0 15px;
}   

/***** Home Top ********************/

#home-top-bg {
   clear: both;
}

#home-top {
   width:100%;
   margin: 0 auto 0;
   overflow: hidden;
}

.home-top-left {
   width: 66%;
   float: left;
   margin: 0;
   padding: 0;
   overflow: hidden;
}
	
.home-top-right {
   width: 33%;
   float: right;
   margin: 0;
}

	/* BUTTONS */
/* ----------------------------------------- */

.view {
   display: table;
   padding-right:20px;
   margin:5px auto 0;
}

.button1a, .button2a {
   clear:both;
   float:left;
   position:relative;
   height:40px;
}

.button1, .button1:link, .button1:visited {
   display: block;
   position: relative;
   padding: 0 0 0 20px;
   height: 37px;
   line-height: 37px;
   text-align: center;
   background-position: 0 0;
   background-repeat: no-repeat;
   font-size: 18px;
   font-weight: normal;
   color: #3a3a3a;
   cursor: pointer;
   font-family:'QlassikMediumRegular', Tahoma, Arial, sans-serif;
   text-shadow: 0 1px 0 #ffffff;
}
.button1 span {
   display: block;
   position: absolute;
   top: 0;
   right: -20px;
   width: 20px;
   height: 37px;
   background-position: right top;
   background-image: url(includes/images/button.png);
   float: left;
}
.button1{
   background-image: url(includes/images/button.png);
   float: left;
}
.button1:hover {
   background-position: left -37px;
   text-decoration: none;
}
.button1:hover span {
   background-position: right -37px;
   text-decoration: none;
}
a.button2, a.button2:link, a.button2:visited {
   display: block;
   position: relative;
   padding: 0 0 0 12px;
   height: 31px;
   text-align: center;
   background-position: 0 0;
   background-repeat: no-repeat;
   font-size: 16px;
   line-height: 30px;
   font-weight: normal;
   color: #3a3a3a;
   cursor: pointer;
   margin-top:10px;
   font-family:'QlassikMediumRegular', Tahoma, Arial, sans-serif;
   text-shadow: 0 1px 0 #ffffff;
}
a.button2 span {
   display: block;
   position: absolute;
   top: 0;
   right: -12px;
   width: 12px;
   height: 31px;
   background-position: right top;
   background-image: url(includes/images/button2.png);
   float: left;
}
a.button2{
   background-image: url(includes/images/button2.png);
   float: left;
   color: #3a3a3a;
}
a.button2:hover, li.selected {
   background-position: left -31px;
   text-decoration: none;
}
a.button2:hover span, li.selected span {
   background-position: right -31px;
   text-decoration: none;
}

.button1 a{
   color: #3a3a3a;
}

.button1.blue, .button1.blue span {
   background-image: url(includes/images/bluebutton.png);
   float: left;
   color:#6288a9;
   text-shadow: 0 1px 0 #c7e5da;
}

.button1.pink, .button1.pink span {
   background-image: url(includes/images/pinkbutton.png);
   float: left;
   color:#b17aac;
   text-shadow: 0 1px 0 #ecd8ea;
}

.button1.green, .button1.green span {
   background-image: url(includes/images/greenbutton.png);
   float: left;
   color:#538976;
   text-shadow: 0 1px 0 #c7e5da;
}

.button1.brown, .button1.brown span {
   background-image: url(includes/images/brownbutton.png);
   float: left;
   color: #8e7d5c;
   text-shadow: 0 1px 0 #e4ddd0;
}

.button1.yellow, .button1.yellow span {
   background-image: url(includes/images/yellowbutton.png);
   float: left;
   color:#868a4a;
   text-shadow: 0 1px 0 #d8dabc;
}

.button2.blue, .button2.blue span {
   background-image: url(includes/images/bluebutton2.png);
   float: left;
   color:#6288a9;
   text-shadow: 0 1px 0 #c7e5da;
}

.button2.pink, .button2.pink span {
   background-image: url(includes/images/pinkbutton2.png);
   float: left;
   color:#b17aac;
   text-shadow: 0 1px 0 #ecd8ea;
}

.button2.green, .button2.green span {
   background-image: url(includes/images/greenbutton2.png);
   float: left;
   color:#538976;
   text-shadow: 0 1px 0 #c7e5da;
}

.button2.brown, .button2.brown span {
   background-image: url(includes/images/brownbutton2.png);
   float: left;
   color: #8e7d5c;
   text-shadow: 0 1px 0 #e4ddd0;
}

.button2.yellow, .button2.yellow span {
   background-image: url(includes/images/yellowbutton2.png);
   float: left;
   color:#868a4a;
   text-shadow: 0 1px 0 #d8dabc;
}

a.button1.blue, a.button2.blue {
   color:#6288a9;
   text-shadow: 0 1px 0 #c7e5da;
}

a.button1.green, a.button2.green {
   color:#538976;
   text-shadow: 0 1px 0 #c7e5da;
}

a.button1.pink, a.button2.pink {
   color:#b17aac;
   text-shadow: 0 1px 0 #ecd8ea;
}

a.button1.yellow, a.button2.yellow {
   color:#868a4a;
   text-shadow: 0 1px 0 #d8dabc;
}

a.button1.brown, a.button2.brown {
   color: #8e7d5c;
   text-shadow: 0 1px 0 #e4ddd0;
}

.gallerynav li.selected-0 a.button2, .gallerynav li.selected-1 a.button2, .gallerynav li.selected-2 a.button2, .gallerynav li.selected-3 a.button2, .gallerynav li.selected-4 a.button2, .gallerynav li.selected-5 a.button2 {
   background-image: url(includes/images/button2.png);
   float: left;
   background-position: left -31px;
}
.gallerynav li.selected-0 a.button2 span, .gallerynav li.selected-1 a.button2 span, .gallerynav li.selected-2 a.button2 span, .gallerynav li.selected-3 a.button2 span, .gallerynav li.selected-4 a.button2 span, .gallerynav li.selected-5 a.button2 span {
   background-image: url(includes/images/button2.png);
   float: left;
   background-position: right -31px;
}

/* STYLES */
/* ----------------------------------------- */

.download-box, .warning-box, .info-box, .note-box {
   clear:both;
   padding:20px;
   margin: 10px 0;
   -moz-border-radius:8px;
   -webkit-border-radius:8px;
   padding-left:45px;
   background:#eee;
   padding-bottom:15px;
   padding-top:12px;
}
.info-box {
   background:#bfe4f9 url(includes/images/icn-info.png) no-repeat scroll 10px 10px;
   border:1px solid #68a2cf;
   color:#2e6093;
}
.warning-box {
   background:#ffcccc url(includes/images/icn-block.png) no-repeat scroll 10px 11px;
   border:1px solid #ff9999;
   color:#c31b00;
}
.download-box {
   background:#dee3ab url(includes/images/icn-download.png) no-repeat scroll 10px 10px;
   border:1px solid #a3c159;
   color:#5e6f33;
}
.note-box {
   background:#fdebae url(includes/images/icn-note.png) no-repeat scroll 10px 10px;
   border:1px solid #e6c555;
   color:#9e660d;
}
.dropcap {
   color:#3a3a3a;
   font-family:'QlassikMediumRegular', Tahoma, Arial, sans-serif;
   text-shadow: 0 1px 0 #ffffff;
   display:block;
   float:left;
   font-size:40px;
   line-height:35px;
   margin:0 8px 0 0;
}

.tipsy {
   padding: 5px;
   font-size: 14px;
   font-family: Arial,Helvetica,Sans-Serif;
   background-repeat: no-repeat;
   background-image: url(images/tipsy.gif);
}
  .tipsy-inner {
   padding: 5px 8px 4px 8px;
   background-color: black;
   color: white;
   max-width: 200px;
   text-align: left;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
}
  
  .tipsy-north {
   background-position: top center;
}
  .tipsy-south {
   background-position: bottom center;
}
  .tipsy-east {
   background-position: right center;
}
  .tipsy-west {
   background-position: left center;
}

div.page_template_faq h3.faq{
   cursor:pointer;
   text-decoration:none;
   color: #666;
   font-size: 15px;
   margin: 20px 0;
} .art-post ul li, .art-post ol ul li {
   overflow:visible;
}
